<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meus Endereços</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Adicionar endereço</a>
        <a href="/enderecos">Meus endereços</a>
    </div>
    <div class="container">
        <h1>Meus Endereços</h1>
        {{#if post.[0]}}
            {{#each post}}
            <div class="address-card">
                <h2>{{nome}}</h2>
                <p>{{descricao}}</p>
                <p>{{logradouro}}</p>
                <p>{{bairro}}</p>
                <p>{{localidade}} - {{uf}}</p>
                <p>{{cep}}</p>
                <div class="col">
                    <button class="btn btn-editar" type="button" class="btn btn-primary"><a href="/editar/{{id}}" style="color:inherit">Editar</a></button>
                    <button class="btn btn-excluir" type="button" class="btn btn-primary"><a href="/excluir/{{id}}" style="color:inherit">Excluir</a></button>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p class="no-address">Nenhum endereço cadastrado</p>
        {{/if}}
    </div>
</body>
</html>
